.right_cloud {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
}

.user_cloud {
	display: flex;
	flex-direction: column;
	width: 100%;
}

a.cloud_item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #d8d8d8;
	background-size: 100% 2px;
	background: linear-gradient(90deg, transparent 10%, grey, transparent 90%) no-repeat;
	margin: 0.2em 0;
	height: 2em;
}

a.cloud_item:hover {
	background: linear-gradient(60deg, transparent 16%, grey, transparent 92%) no-repeat;
	cursor: pointer;
	color: #d8d8d8;
}

.success__message {
	height: 5em;
	margin-top: 1em;
}

.login_block {
	height: 2em;
}

.languages {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	width: 100%;
	height: 2em;
}

.language_item {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
}

.dot {
	height: 0.5em;
	width: 2em;
	background-color: #000;
	border-radius: 50%;
	margin: 0 0.5em;
}

.active {
	color: #d8d8d8;
}
