.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 45vh; */
    width: 30%;
}

.aside > * {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aside__header {
    height: 10%;
    text-decoration: none;
    color: #C0C0C0;
}

/* .aside__header:hover {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.45);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
} */

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
}

.header__logo picture {
    display: block;
    width: 60%;
    height: 60%;
}