.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 45vh; */
    width: 30%;
}

.aside > * {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aside__header {
    height: 10%;
    text-decoration: none;
    color: #D8D8D8;
    text-shadow: 1px 1px 1px black;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
}

.header__logo picture {
    display: block;
    width: 60%;
    height: 60%;
    min-width: 30px;
    min-height: 30px;
}