.right_cloud {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
}

.user_cloud {
	display: flex;
	flex-direction: column;
	width: 100%;
}

a.cloud_item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #d8d8d8;
	background-size: 100% 2px;
	background: linear-gradient(90deg, transparent 10%, grey, transparent 90%) no-repeat;
	margin: 0.2em 0;
	height: 2em;
}

a.cloud_item:hover {
	background: linear-gradient(60deg, transparent 16%, grey, transparent 92%) no-repeat;
	cursor: pointer;
	color: #d8d8d8;
}

.success__message {
	height: 5em;
}
